<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script type="text/javascript" src="http://localhost/eclipse/project2/public/js/jquery-2.2.0.js">
    </script>
    <script type="text/javascript" src="http://localhost/eclipse/project2//public/js/bootstrap.min.js">
    </script>
    <link href="http://localhost/eclipse/project2/public/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    
    <link rel="stylesheet" type="text/css" href="http://localhost/dev/simditor/styles/simditor.css" />

    <script type="text/javascript" src="http://localhost/eclipse/project2/public/simditor-2.3.6/scripts/jquery.min.js"></script>
    <script type="text/javascript" src="http://localhost/eclipse/project2/public/simditor-2.3.6/scripts/module.js"></script>
    <script type="text/javascript" src="http://localhost/eclipse/project2/public/simditor-2.3.6/scripts/hotkeys.js"></script>
    <script type="text/javascript" src="http://localhost/eclipse/project2/public/simditor-2.3.6/scripts/uploader.js"></script>
    <script type="text/javascript" src="http://localhost/eclipse/project2/public/simditor-2.3.6/scripts/simditor.js"></script>

</head>
<body style="background-color: #FBF4F4">
<br>

<div class="container" >
    <div class="row">

        <div class="col-md-3">
            <h2 style="font-weight: 100">增值服务</h2>
            <br>
        </div>
    </div>
    <div class="row"  style="height: 1000px; background-color: #F1F9EE">
        <div class="col-md-3">
            <ul id="myTab" class="nav nav-tabs nav-stacked" style="background-color: #BCC1C7; height: 1000px;">
                <li class="active"><a href="#a" data-toggle="tab">职称查询</a></li>
                <li><a href="#b" data-toggle="tab">问卷调查</a></li>
            </ul>
        </div>
        <div class="col-md-9" style="height: 1000px">
            <div id="myTabContent" class="tab-content">
                <div class="tab-pane fade in active" id="a" style="background-color: #F1F9EE; height: 1000px">
					
                    <br>
                    <php>
                    	
                        if ($root != NULL and $root == 0) {
                      	
                        $des = "http://localhost/eclipse/project2/index.php/Home/ZZFW/EditZC";
                    </php>

                    <a href={$des}><h4 align="right" >编辑</h4></a>
                    <br>
                    <php>
                        }
                    </php>
                    <php>
                        echo $zz_content;
                    </php>
                </div>
                <div class="tab-pane fade" id="b" style="background-color: #F1F9EE; height: 1000px">
                <php>
					$url10="http://".C('URLSET')."/index.php/Home/Questionnaire/Make";
				</php>
                   <br><h4  style="font-weight:100" align="right"><a href={$url10}>发布问卷</a></h4>
                   <br>
                   <div class="row">
            <table class="table table-bordered table-striped">
                <thead>
                <tr>
                    <th class="col-md-6">标题</th>
                    <th class="col-md-2">发布者</th>
                    <th class="col-md-2">查看结果</th>
                    <th class="col-md-2">删除</th>
                </tr>
                </thead>
                <tbody>
                        <volist name="data" id="vo">
                            <tr>
                                <php>
                                        $urlr="http://".C('URLSET')."/index.php/Home/Questionnaire/ViewR?id=".$vo['id'];
                                        $urlq="http://".C('URLSET')."/index.php/Home/Questionnaire/ViewQ?id=".$vo['id'];
                                </php>
                                <td ><a href={$urlq}>{$vo['name']}</a></td>
                                <td >{$vo['username']}</td>
                                <td ><a href={$urlr}>结果统计</a></td>
                                <td>
                                    <php>
                                        if($vo['username']==$username||$root=='0'){
                                        $url2="http://".C('URLSET')."/index.php/Home/Questionnaire/Delete?id=".$vo['id'];
                                    </php>
                                    <a href={$url2}>删除问卷</a>
                                        <php>}</php>
                                </td>   
                            </tr>
                        </volist>
                        <tr >
                          <!--<td colspan="3" >&nbsp;{$page}</td>-->
                             <td colspan="3" >
                            <div align="center">
                            	<php>
                            		$more = "http://localhost/eclipse/project2/index.php/Home/Questionnaire/view";
                            	</php>
                                  <a href={$more}>More</a>
                            </div></td>  
                        </tr>
                  </tbody>
            </table>
        </div>
        
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>