<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>更改密码</title>
<php>
$cssurl="http://".C('URLSET')."/public/css/regist.css";
$url1="http://".C('URLSET')."/index.php/Home/User/ChangeP";
$url2="http://".C('URLSET')."/index.php/Home/User/index";
</php>
	<script type="text/javascript" src="http://localhost/eclipse/project2//public/js/Myjs.js"></script>
	<script type="text/javascript" src="http://localhost/eclipse/project2//public/js/changep.js" ></script>
<link rel="stylesheet" type="text/css" href={$cssurl}>
<style type="text/css">
body{
font-family:verdana;
 color:#0066CC;
 cursor:default;
}
.main{

height:500px;
width:600px;
margin:0 auto;
}
.up{
/*
background:#0033CC;
*/
height:50px;
width:600px;

}
</style>
</head>
<body bgcolor="#ddddff">
<h1 align = "center">更改密码</h1>
<div class="main">
<br><br><br>
<form align = "center", name="login" action={$url1} method="post">
	<dl>
			<div class="up" align="center" style="text-align:left;">
			<dd style="margin-left:150px">
				原密码:&nbsp;&nbsp;&nbsp; <input type='password' name='user' value=''/>
				<span class='info user_put'>请输入原密码，密码为6-18位，由数字字母下划线组成（不能出现空格）。<p></p></span>
				<span class='info_error user_error'>请输入正确密码!<p></p></span>
				<span class='ok user_ok'></span>
			</dd>
			</div>
			<div class="up" align="center" style="text-align:left;">
			<dd style="margin-left:150px">
				新密码:&nbsp;&nbsp;&nbsp; <input type='password' name='pass' vlaue=''/>
				<span class ='info pass_put'>请输入6-18位密码，由数字字母下划线组成（不能出现空格）。<p></p></span>
				<span class='safe'>安全等级：<strong class='s s1'></strong> <strong class='s s2'></strong>
					<strong class='s s3'></strong> <strong class='word'></strong><p></p>
				</span>
				<span class='info_error pass_error'>请输入正确密码!<p></p></span>
				<span class='ok pass_ok'></span>
			</dd>
			</div>
			<div class="up" align="center" style="text-align:left;">
			<dd style="margin-left:150px">
				确认密码: <input type='password' name='confirm_pass' />
				<span class='info confirm_put'>请再次输入密码。<p></p></span>
				<span class='info_error confirm_error'>两次密码不一致！<p></p></span>
				<span class='ok confirm_ok'></span>
			</dd>
			</div>
<p align="center"><input type="submit" value="更改"> </p>
	</dl>
			<div class="copyright">
	  			<p><a href="{$url2}"> 返回首页</a>
	  			<p>
	  		</div>
</form>	
</div>
</p>
</body>
</html>