<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="http://localhost/eclipse/project2/public/css/bootstrap.min.css" rel="stylesheet">
    <script src="http://localhost/eclipse/project2/public/jquery/jquery-2.2.0.js"></script>
    <script src="http://localhost/eclipse/project2/public/js/bootstrap.min.js"></script>
    

</head>
<body style="background-color: #FBF4F4; height: 1000px">
    <div class="container">
            <h2 align="center" style="font-weight: 100">编辑图片</h2>
            <br>
            <hr style="height:1px;border:none;border-top:1px solid #555555;" />
            <br>
            <br>
            <h4 align="right" style="font-weight: 100">添加图片</h4>
            <br>
            <div class="container">
                <div class="row">
                    <table class="table table-bordered table-striped">
                        <thead>
                        <tr>
                            <th class="col-md-8">标题</th>
                            <th class="col-md-4">操作</th>
                        </tr>
                        </thead>
                        <tbody>
                        <volist name="info" id="vo">
                            <php>
                            $change = "http://localhost/eclipse/project2/index.php/Home/Edit/change?id=".$vo['id'];
                            $del  = "http://localhost/eclipse/project2/index.php/Home/Edit/delete?id=".$vo['id'];
                        </php>
                            <tr>
                                <td><a href={$change}>{$vo['title']}</a></td>
                                <td><a href={$del}>删除</a></td>
                            </tr>
                        </volist>
                        
                        </tbody>
                    </table>
                </div>
            </div>
    </div>
</body>
</html>